
@font-face {
  font-family: 'alegreyaregular';
  src: url('../fonts/alegreya-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/alegreya-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreya-regular-webfont.woff2') format('woff2'),
       url('../fonts/alegreya-regular-webfont.woff') format('woff'),
       url('../fonts/alegreya-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreya-regular-webfont.svg#alegreya-regular-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'alegreya_sansbold';
  src: url('../fonts/alegreyasans-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/alegreyasans-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasans-bold-webfont.woff') format('woff'),
       url('../fonts/alegreyasans-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreyasans-bold-webfont.svg#salegreyasans-bold-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'alegreya_sansextrabold';
  src: url('../fonts/alegreyasans-extrabold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/alegreyasans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreyasans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasans-extrabold-webfont.woff') format('woff'),
       url('../fonts/alegreyasans-extrabold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreyasans-extrabold-webfont.svg#alegreyasans-extrabold-webfont') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'alegreya_sans_scbold';
  src: url('../fonts/alegreyasanssc-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/alegreyasanssc-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/alegreyasanssc-bold-webfont.woff2') format('woff2'),
       url('../fonts/alegreyasanssc-bold-webfont.woff') format('woff'),
       url('../fonts/alegreyasanssc-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/alegreyasanssc-bold-webfont.svg#alegreyasanssc-bold-webfont') format('svg'); /* Legacy iOS */
}


