// -------------------------------------------------
//    Typography css
// -------------------------------------------------




// Base Typography
// –––––––––––––––––––––––––––––––––––––––––––––––––– */
// NOTE
// html is set to 62.5% so that all the REM measurements throughout
// are based on 10px sizing. For example 1.5rem = 15px :) */

// $font-regular: 'alegreyaregular';
// $font-sansbold: 'alegreya_sansbold';
// $font-extrabold: 'alegreya_sansextrabold';
// $font-scbold: 'alegreya_sans_scbold';


body,
html {
  font-family: $font-regular, $font-stack; // Regular
  font-style: normal;
  font-size: 62.5%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; //remove sub pixel antialiasing -- smoothing
  letter-spacing: .5px;
}

body,
p,
span,
footer {
  line-height: 1.5;
  font-family: $font-regular, $font-stack; // Regular
  font-size: 1.5rem; // 15px body copy base
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;

  @media #{$sm-breakpoint} {
    font-size: 2.3rem;
  }

}

header {
  font-family: $font-extrabold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
  font-family: $font-sansbold, $font-stack; // Bold
  font-weight: 700;
  font-style: normal;
}

h1 {
  font-size: 3.6rem;
}


h2 {
  font-size: 2.8rem;
}


h3 {
  font-size: 2.2rem;
}


h4 {
  font-size: 2.5rem;
}

small {
  font-size: 1.5rem; // 15px body copy base
  font-style: normal;
  font-weight: 300;
}


a {
  color: $white;
  opacity: .3;

  &:hover {
    box-shadow: inset 0 -2px 0 0 $white;
    color: $white;
    opacity: 1;
  }

  &:active,
  &.active {
    color: $white;
    opacity: 1;
  }
}


